
<div class="login-container" *ngIf=!authed>
	<h1 class="login-logo">CryptoMon</h1>
	<div class="login-form">
		<loading-spinner diameter="75" *ngIf="userLoading$ | async"></loading-spinner>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input matInput type="text" formControlName="username" name="username" placeholder="Type your username">
				<mat-error *ngIf="loginFormError('username', 'maxlength')">Username max. length exceded.</mat-error>
				<mat-error *ngIf="loginFormError('username', 'minlength')">Username min. length exceded.</mat-error>
				<mat-icon matSuffix>person_fill</mat-icon>				
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput type="password" formControlName="password" name="password" placeholder="Type your password">
				<mat-error *ngIf="loginFormError('password', 'maxlength')">Password max. length exceded.</mat-error>
				<mat-error *ngIf="loginFormError('password', 'minlength')">Password min. length exceded.</mat-error>
				<mat-icon matSuffix>key</mat-icon>
			</mat-form-field>
			
			<mat-card *ngIf="userErrorMsg$ | async" class="login-error">
				<mat-card-content>
					{{ userErrorMsg$ | async }}
				</mat-card-content>
			</mat-card>

			<div class="login-buttons">
				<section>
					<button mat-button color="primary"><mat-icon>person_add</mat-icon>Signup</button>
					<button type="submit" mat-stroked-button>Login</button>
				</section>
			</div>
    </form>

	</div>
</div>
