<div class="mat-elevation-z3" class="market-container">
	
	<loading-spinner *ngIf="!(marketTableLoaded$ | async)"></loading-spinner>
	<table 
		mat-table 
		matSort 
		[dataSource]="dataSource.data.length > 0 && dataSource.filteredData.length > 0 ? dataSource : emptyData"
		class="market-table">
			<ng-container matColumnDef="rank">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Rank">Rank</th>
				<td mat-cell *matCellDef="let asset" class="market-cell-rank">{{ asset.rank }}</td>
			</ng-container>

			<!-- Name Column-->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">Name</th>
				<td mat-cell *matCellDef="let asset" class="market-cell-name">
					<img src="{{ asset.assetIconImgUrl }}" />
					<span>{{ asset.name }}</span>
				</td>
			</ng-container>

			<!-- Price Column -->
			<ng-container matColumnDef="price">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Price">Price</th>
				<td mat-cell *matCellDef="let asset" class="market-cell-price">{{ asset.price | currency:'USD' }}</td>
			</ng-container>

			<!-- Change Column -->
			<ng-container matColumnDef="change">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by change in 24h" fxHide.lt-sm="true" fxHide.sm="true"
				>24 %</th>
				<td mat-cell *matCellDef="let asset" class="market-cell-percent_change_24h caret" fxHide.lt-sm="true" fxHide.sm="true"
					[ngClass]="{
						'caret-down': asset.percent_change_24h < 0,
						'caret-up': asset.percent_change_24h > 0
					}"
				>{{ asset.percent_change_24h }}%</td>
			</ng-container>

			<!-- Market Cap. Column -->
			<ng-container matColumnDef="cap">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Market Cap." fxHide.lt-lg="true"
				>Market Cap.</th>
				<td mat-cell *matCellDef="let asset" fxHide.lt-lg="true"
				>{{ asset.market_cap | currency:'USD' }}</td>
			</ng-container>

			<!-- Volume -->
			<ng-container matColumnDef="volume">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by volume in 24h" fxHide.lt-lg="true">Volume 24h</th>
				<td mat-cell *matCellDef="let asset" fxHide.lt-lg="true">{{ asset.volume_24h | currency:'USD' }}</td>
			</ng-container>

			<!-- Supply Column -->
			<ng-container matColumnDef="supply">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Circulating Supply" fxHide.lt-lg="true">Circulating Supply</th>
				<td mat-cell *matCellDef="let asset" fxHide.lt-lg="true">
					<span>{{ asset.total_supply | cryptocurrency:asset.symbol }}</span>
					<mat-progress-bar mode="determinate" *ngIf=asset.supplyPercent [value]=asset.supplyPercent class="supply-progress"></mat-progress-bar>
				</td>
			</ng-container>

			<!-- Sparklines Column -->
			<ng-container matColumnDef="sparklines">
				<th mat-header-cell *matHeaderCellDef fxHide.lt-lg="true">Last 7 Days</th>
				<td mat-cell *matCellDef="let asset" fxHide.lt-lg="true">
					<img 
					[ngClass]="{
						'svg-color-red': asset.percent_change_24h < 0,
						'svg-color-green': asset.percent_change_24h > 0
					}"
					src="{{ asset.sparklinesImgUrl }}" />
				</td>
			</ng-container>
			
			<!-- No Data Column -->
			<ng-container matColumnDef="no-data-row">
				<td mat-cell *matCellDef="let asset">No Data</td>
			</ng-container>
			
			<!-- Loading Column -->
			<ng-container matColumnDef="loading-row">
				<td mat-cell *matCellDef="let asset">Loading...</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: !(marketTableLoaded$ | async) ? ['loading-row'] : dataSource.data.length > 0 && dataSource.filteredData.length > 0 ? displayedColumns : ['no-data-row'];"></tr>
	</table>
	
	<mat-paginator [pageSizeOptions]="[5, 10, 15]"
		showFirstLastButtons 
		aria-label="Select page of assets">
	</mat-paginator>
	
	<div class="table-filter">
		<mat-form-field appearance="standard" [hideRequiredMarker]=true>
			<input matInput #txtFilter (keyup)="doFilter(txtFilter.value)" type="text" name="table-filter" placeholder="Search...">
		</mat-form-field>
	</div>

</div>