<div class="news-card mat-elevation-z2" (click)="openFeed(feed)">
	<img class="news-image" mat-card-image src="{{ feed.imageUrl }}"/>
	<div class="news-desc" *ngIf=feed.description>
		<img class="news-logo-image" src="{{ feed.logo }}" />
		<span class="news-desc-content">{{ feed.description }}</span>
		<span class="news-desc-date">{{ feed.date }}</span>
	</div>
	<div class="news-content">
		<div class="news-title">{{ feed.title }}</div>
		<div class="news-author">{{ feed.author }}</div>
	</div>
</div>