/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './app/modules/shared/directives/mat-table-responsive/mat-table-responsive.directive';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tv-chart {
  mat-dialog-container {
    overflow: hidden;
    padding: 10px;
  }
}

.black-modal {
  mat-dialog-container {
    background: black;
  }
}

.add-trade-modal {
  mat-select-panel {
    width:155px;
  }

  .mat-button-toggle-checked.toggled-green {
    background-color: rgb(0, 134, 0)
  }
  .mat-button-toggle-checked.toggled-red {
    background-color: rgb(163, 0, 0)
  }
}